@keyframes fluffy {
    0% { transform:translateY(0) }
    50% { transform:translateY(-20px) }
    100% { transform:translateY(0) }
}

/* img-animation */
.img-scroll-ani.delighter {
    transition: all .3s ease-out;
    transform: translateX(-50%);
    opacity: 0;
 }

/* スタート時のスタイル */
 .img-scroll-ani.delighter.started {
    transform: none;
    opacity: 1;
 }

/* エンド時のスタイル */
 .img-scroll-ani.delighter.started.ended {
    border: solid #BB1B1B 10px;
 }
 @keyframes scroll {
   0% {
      transform: translateY(-30px);
   }
   100% {
      transform: translateY(30px);
   }
 }