// font-color
$gray: #333333;
$black-h1: #303030;
$black: #000000;
$white: #FFFFFF;
$white-gray: #272727;

// background-color
$bg-black: #000000;
$bg-wine: #D04C4C;
$bg-red: #BB1B1B;
$bg-ketchap: #ED3E3E;
$bg-gray: #D4D4D4;
$bg-white: #FFFFFF;